<table class="table table-inverse table-hover">
        <thead class="thead-dark">
          <tr>
              <th>ID</th>
              <th>Utente</th>
              <th>Data Inizio</th> 
              <th>Data Fine</th>
              <th>ID Strumento</th>
              <th></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prenotazione of prenotazioni">
              <td>{{prenotazione.idPrenotazione}}</td>
              <td>{{prenotazione.prenotazione.utente.userName}}</td>
              <td>{{prenotazione.dataInizio | date:'shortDate'}}</td>
              <td>{{prenotazione.dataFine | date:'shortDate'}}</td>
              <td>{{prenotazione.strumento.nome}}</td>
              <td><button class="btn" (click)="conferma(prenotazione.idStrumento,prenotazione.idPrenotazione)">Conferma</button></td>
              <td><button class="btn" (click)="rimuovi(prenotazione.idStrumento,prenotazione.idPrenotazione)">Rimuovi</button></td>
          </tr>
      </tbody>
      </table>
    
