
<div class="container">
    <h1>Strumento <Form></Form></h1>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
            <label>PartID</label>
                <input type="text" class="form-control" formControlName="PartID" required>
                <label class="text-danger" *ngIf="service.formModel.get('PartID').touched && service.formModel.get('PartID').errors?.required">This field is mandatory.</label>
          
          </div>
          <div class="form-group required">
            <label>SerialID</label>
                <input type="text" class="form-control" formControlName="SerialID" required>
                <label class="text-danger" *ngIf="service.formModel.get('SerialID').touched && service.formModel.get('SerialID').errors?.required">This field is mandatory.</label>
          
          </div>
      <div class="form-group required">
        <label>Nome</label>
            <input type="text" class="form-control" formControlName="Nome" required>
            <label class="text-danger" *ngIf="service.formModel.get('Nome').touched && service.formModel.get('Nome').errors?.required">This field is mandatory.</label>
      
      </div>

      <div class="form-group">
        <label>Descrizione</label>
        <input type="text" class="form-control" formControlName="Descrizione">
      
      </div>
      <div class="form-group required">
        <label>Marca</label>
        <input type="text" class="form-control" formControlName="Marca">
        <label class="text-danger" *ngIf="service.formModel.get('Marca').touched && service.formModel.get('Marca').errors?.required">This field is mandatory.</label>
      
      </div>
      <div class="form-group required">
        <label>Modello</label>
        <input type="text" class="form-control" formControlName="Modello">
        <label class="text-danger" *ngIf="service.formModel.get('Modello').touched && service.formModel.get('Modello').errors?.required">This field is mandatory.</label>
      
      </div>
      <div class="form-group required">
        <label>Posizione</label>
        <input type="text" class="form-control" formControlName="Posizione">
        <label class="text-danger" *ngIf="service.formModel.get('Posizione').touched && service.formModel.get('Posizione').errors?.required">This field is mandatory.</label>
      
      </div>
      <div class="form-group required">
          <label>TTL</label>
          <input type="date" class="form-control" formControlName="TTL">
          <label class="text-danger" *ngIf="service.formModel.get('TTL').touched && service.formModel.get('TTL').errors?.required">This field is mandatory.</label>
        
        </div>
        <div class="form-group required">
            <label>Nascita</label>
            <input type="date" class="form-control" formControlName="Nascita">
            <label class="text-danger" *ngIf="service.formModel.get('Nascita').touched && service.formModel.get('Nascita').errors?.required">This field is mandatory.</label>
          </div>
      <div>
          <label>Immagine</label>
          <app-upload (onUploadFinished)="uploadImage($event)"></app-upload>
      </div>
      <div>
          <label>PDF</label>
         <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
      </div>
      <div>
        <label>Descrizione(Parse)</label>
       <app-text-parse (onParseFinished)="parseDescrizione($event)"></app-text-parse>
    </div>
          <button style="align-content: center; margin-bottom: 20px;" type="submit" class="btn btn-middle btn-success" [disabled]="!service.formModel.valid">Submit</button>

    </form>
</div>


