<table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
          <th>PartID</th>
          <th>SerialID</th>
          <th>Nome</th>
          <th>Descrizione</th> 
          <th>Marca</th>
          <th>Modello</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let strumento of strumentiLowTtl; let i = index">
          <td>{{strumento.partId}}</td>
          <td>{{strumento.serialId}}</td>
          <td>{{strumento.nome}}</td>
          <td>{{strumento.descrizione}}</td>
          <td>{{strumento.marca}}</td>
          <td>{{strumento.modello}}</td>
          <td >{{strumento.ttl | date:'shortDate'}}</td>
          <td ><button class="btn" (click)="dismiss(strumento.id)">Gestisci</button></td>
      </tr>
  </tbody>
  </table>
