
  <div>
    <div class="filter-wrap">
      <input [(ngModel)]="searchText" placeholder="Filter Strumenti" class="filter-input">
      <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
      <mat-radio-group  [(ngModel)]="radioOption" label="Select an option">
        <mat-radio-button class="mat" value="serialId">SerialID</mat-radio-button>
        <mat-radio-button class="mat" value="partId">PartID</mat-radio-button>
        <mat-radio-button class="mat" value="nome">Nome</mat-radio-button>
        <mat-radio-button class="mat" value="marca">Marca</mat-radio-button>
        <mat-radio-button  class="mat" value="modello">Modello</mat-radio-button>
      </mat-radio-group>
        <br>
        <input [(ngModel)]="searchText2" placeholder="Filter Strumenti" class="filter-input">
        <span class="filter-clear" *ngIf="searchText2.length>0" (click)="clearFilter2()">X</span>
        <mat-radio-group  [(ngModel)]="secondOption" label="Select an option">
          <mat-radio-button class="mat" value="serialId">SerialID</mat-radio-button>
          <mat-radio-button class="mat" value="partId">PartID</mat-radio-button>
          <mat-radio-button class="mat" value="nome">Nome</mat-radio-button>
          <mat-radio-button class="mat" value="marca">Marca</mat-radio-button>
          <mat-radio-button  class="mat" value="modello">Modello</mat-radio-button>
        </mat-radio-group>
    </div>
  </div>  
<table class="table table-inverse table-hover">
  <thead class="thead-dark">
    <tr>
        <th>PartID</th>
        <th>SerialID</th>
        <th>Nome</th>
        <th>Descrizione</th> 
        <th>Marca</th>
        <th>Modello</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let strumento of strumenti| filter :searchText:radioOption:searchText2:secondOption; let i = index">
        <td>{{strumento.partId}}</td>
        <td>{{strumento.serialId}}</td>
        <td>{{strumento.nome}}</td>
        <td>{{strumento.descrizione}}</td>
        <td>{{strumento.marca}}</td>
        <td>{{strumento.modello}}</td>
        <td *ngIf="strumento.path!=null"><button class="btn" (click)="pdfOpen(strumento.path)">Descrizione</button></td>
        <td> <button class="btn" (click)="confermaStrumento(strumento)">Conferma</button></td>
        <td> <button class="btn" (click)="rimuoviProv(strumento.id)">Rimuovi</button></td>
    </tr>
  </tbody>
</table>