
  <div>
    <div class="filter-wrap">
      <input [(ngModel)]="searchText" placeholder="Filter Strumenti" class="filter-input">
      <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
    </div>
  </div>
<table class="table table-inverse table-hover">
  <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrizione</th> 
        <th>Marca</th>
        <th>Modello</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let strumento of strumenti| filter :searchText; let i = index">
        <td>{{i + 1}}</td>
        <td>{{strumento.id}}</td>
        <td>{{strumento.nome}}</td>
        <td>{{strumento.descrizione}}</td>
        <td>{{strumento.marca}}</td>
        <td>{{strumento.modello}}</td>
        <td *ngIf="strumento.path!=null"><button class="btn" (click)="pdfOpen(strumento.path)">Descrizione</button></td>
        <td> <button class="btn" (click)="confermaStrumento(strumento)">Conferma</button></td>
        <td> <button class="btn" (click)="rimuoviProv(strumento.id)">Rimuovi</button></td>
    </tr>
  </tbody>
</table>