#sidebar{
   height : 100vh;
   padding-top:80px;
   position: fixed;
   background-color: #191f26;
   font-weight:  700!important;
   font-size: 15px!important;
}
#dashboard{
    margin-top: 60px;
  

}
#navbar{
   background-color:#161a1e!important;
   box-shadow:  0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0, 0, 0, o.25);
}
body{
   background-color: #1c2228!important;  
   height : 100vh;

   
}
div.container-fluid{
   background-color: #1c2228!important;  
}
