
        <form [formGroup]="service.formPassword" autocomplete="off" (submit)="onSubmit()">
                <div formGroupName="Passwords">
            <div class="form-group login required" >
                <label >New Password</label>
                <input type="password" class ="form-control login" formControlName="Password"> 
                <label class="text-danger" *ngIf="service.formPassword.get('Passwords.Password').touched && service.formPassword.get('Passwords.Password').errors?.required">This field is mandatory</label>
                <label class="text-danger" *ngIf="service.formPassword.get('Passwords.Password').touched && service.formPassword.get('Passwords.Password').hasError('minlength')">Minimum 4 characters required</label>
            </div>
            <div class="form-group login required">
                <label >Confirm New Password</label>
                <input  type="password" class="form-control login" formControlName="ConfirmPassword"> 
                <label class="text-danger" *ngIf="service.formPassword.get('Passwords.ConfirmPassword').touched && service.formPassword.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory</label>
                <label class="text-danger" *ngIf="service.formPassword.get('Passwords.ConfirmPassword').touched && service.formPassword.get('Passwords.ConfirmPassword').hasError('passwordMismatch')">Passwords do not match</label>
            </div>
        </div>
     
        <div class="form-row">
            <div class="form-group col-md-2 offset-md-5">
                <button type="submit" class="btn btn-middle btn-success" [disabled]="!service.formPassword.valid">Reset Password</button>
            </div>
        </div>
        </form>


