
<table class="table table-inverse table-hover" >
  <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Strumento</th>
        <th>DataInizio</th> 
        <th>DataFine</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dettaglio of dettagliPrenotazione; let i = index">
        <td>{{i + 1}}</td>
        <td>{{dettaglio.idStrumento}}</td>
        <td>{{dettaglio.dataInizio| date:'short'}}</td>
        <td>{{dettaglio.dataFine| date:'short'}}</td>
    </tr>
  </tbody>


</table>
