
<table class="table table-inverse table-hover">
        <thead class="thead-dark">
          <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th> 
              <th>Gruppo</th>
              <th>Role</th>
              <th ></th>
              <th></th>
              <th *ngIf="this.isAdmin"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utente of utenti; let i = index">
              <td>{{utente.id}}</td>
              <td >{{utente.userName}}</td>
              <td>{{utente.email}}</td>
              <td>{{utente.group}}</td>
              <td>{{utente.role}}</td>
              <td *ngIf="this.isAdmin&&(userIsAutorizzato(utente))"> <button class="btn" (click)="abilitaNotifiche(utente.id)">Abilita Notifiche</button></td>
              <td *ngIf="roleCheck(utente)"> <button class="btn" (click)="rimuoviUtente(utente.id)">Rimuovi</button></td>
              <td *ngIf="this.isAdmin&&roleCheck(utente)"> <button class="btn" (click)="resetPwd(utente.id)">Reset Password</button></td>
          </tr>
          </tbody>
      </table>
      <app-pagination 
(goPage)="goToPage($event)"
(goPrev)="goToPrevious()" 
(goNext)="goToNext()" 
[page]="page"
[perPage]="limit"
[count]="total"  
[nome]="nome"  

>

</app-pagination>
