<nav class="navbar navbar-dark bg-dark">
  <a href="/bi/volume" class="navbar-brand">
    <span class="logo logo-left">LabWeb</span>
    <span class="logo logo-right"> API</span>
</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" routerLink="home/prenotazioni"><strong>Home</strong></a>
          </li></ul>
        <ul *ngIf="this.service.roleMatch(['Admin','UtenteAutorizzato'])" class="navbar-nav mr-auto">
          <li  class="nav-item">
          <a class="nav-link" routerLink="utente/utenti"><strong>Utenti</strong></a>
        </li></ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" routerLink="changePwd"><strong>Cambia Password</strong></a>
        </li></ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" routerLink="strumento/strumenti"><strong>Strumenti</strong></a>
        </li></ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" routerLink="carrello"><strong>Carrello</strong></a>
          </li></ul>
        <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()"><strong>Logout</strong></button>
      </nav>
      <router-outlet></router-outlet>
