
<div class="container">
    <h1>Strumento <Form></Form></h1>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required" >
            <label>Posizione Utilizzo</label>
            <input class="form-control" formControlName="Posizione"> 
            <label class="text-danger" *ngIf="service.formModel.get('Posizione').touched && service.formModel.get('Posizione').errors?.required">This field is mandatory.</label>
        </div>
        <section>
          <h2>Range selection</h2>
          <mat-form-field>
              <input #datePicker matInput
                     [min]="minDate"
                     [matDatepickerFilter]="myFilter"
                     placeholder="Choose a date"
                     [satDatepicker]="picker2"
                     formControlName="date">
              <sat-datepicker [dateClass]="dateClass"   #picker2 [opened]="this.reset(picker2)" [rangeMode]="true"
              >
              </sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
          </mat-form-field>
      </section>

      <button type="submit" class="btn btn-success" [disabled]="!service.formModel.valid">Submit</button>

    </form>
</div>
