<nav class="navbar navbar-dark bg-dark">
    <a  class="navbar-brand text-white">LabAPI</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/registration">Aggiungi Utente</a>
    </li></ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/changePwd">Change Password</a>
    </li></ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/strumenti">Strumenti</a>
    </li></ul>
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item">
      <a class="nav-link" routerLink="/strumentoForm">Aggiungi Strumento</a>
    </li></ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/utenti">Utenti</a>
    </li></ul>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
<div class="container">
    <h1>Strumento <Form></Form></h1>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>DataInizio</label>
            <input type="date" class="form-control" formControlName="DataInizio" required>
            <label class="text-danger" *ngIf="service.formModel.get('DataInizio').touched && service.formModel.get('DataInizio').errors?.required">This field is mandatory.</label>
      
      </div>

      <div class="form-group required">
        <label>DataFine</label>
        <input type="date" class="form-control" formControlName="DataFine" required>
        <label class="text-danger" *ngIf="service.formModel.get('DataFine').touched && service.formModel.get('DataFine').errors?.required">This field is mandatory.</label>
  
      
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!service.formModel.valid">Submit</button>

    </form>
</div>
