<ul class="nav nav-pills flex-column">
        <li *ngIf="abilitato()" class="nav-item">
               
        <a routerLink='notificheStrumento' routerLinkActive='active' class="nav-link">Notifiche Strumento</a>
    </li>
    <li *ngIf="abilitato()" class="nav-item">
        <a routerLink='prenotazioniVicine' routerLinkActive='active' class="nav-link">Notifiche Prenotazioni</a>
</li>
        <li *ngIf="abilitato()" class="nav-item">
            <a routerLink='gestioneStrumenti' routerLinkActive='active' class="nav-link">Gestione Strumenti 
</a>

        </li>
        <li *ngIf="abilitato()" class="nav-item">
            <a routerLink='prenotazioniDelicate' routerLinkActive='active' class="nav-link">Notifiche Prenotazioni Delicate
</a>

        </li>
        <li class="nav-item">
            <a routerLink='prenotazioniEffettuate' routerLinkActive='active' class="nav-link">Prenotazioni Effettuate</a>
           </li>
           
    </ul>
