.pagination{
    padding:12px;

}
.pages{
    padding: 14px;
    display: block;
}

.btn-pageNumber{
    min-width: 54px;
    margin: 2px;
    border-radius: 20px;
    background-color: #fc0000;
    color: #fff;
    
}
.btn-small{
    border-radius: 20px;
    background-color:  #fc0000;
    color: #fff;
}
