<table class="table table-inverse table-hover">
        <thead class="thead-dark">
          <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Descrizione</th> 
              <th>Marca</th>
              <th>Modello</th>
              <th>TTL</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let strumento of strumenti; let i = index">
              <td>{{i + 1}}</td>
              <td>{{strumento.nome}}</td>
              <td>{{strumento.descrizione}}</td>
              <td>{{strumento.marca}}</td>
              <td>{{strumento.modello}}</td>
              <td >{{strumento.ttl | date:'shortDate'}}</td>
              <td ><button class="btn" (click)="rendiPrenotabile(strumento.id)">Rendi Prenotabile</button></td>
          </tr>
      </tbody>
      </table>
