<div class="section-container">
    <div class="row-fluid cards">
            <h5 class="row-fluid cards">Top 3 Strumenti</h5>
        <div class="card-deck">
               
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                     <h5>Orders By Group</h5>
                   <div class="card-body">
                       <app-bar-chart></app-bar-chart>
                   </div>
                </div>
            </div>
            <div class="card mb-3 shadow card-theme">
                    <div class="card-header card-header-theme">
                         <h5>Total Orders</h5>
                       <div class="card-body">
                           <app-pie-chart></app-pie-chart>
                       </div>
                    </div>
             </div>
        </div>
    </div>
     
    
</div>
