@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');


html{
    height: 100%;
}
a{
    color: #44a4cd;
}
a:hover{
    color: #44a8cf;
}
.shadow{
    box-shadow: 0 8px 12px rgba(0, 0,0,0.2), 0 5px 6px rgba(0,0,0,0.3);
}
body{
    font-family: 'Source Sans Pro',sans-serif;
    background-color: #1c2228;
    color: #f7fff7;
    height: 100%;
}
.section-container{
    padding: 30px;
}

input.form-control,input.form-control:focus,select.form-control{
    background-color: #617edd;
    color: #ffffff;
    border: 1px solid #010611;

}

input.form-control:focus{
    box-shadow: none;
}

button.btn{
    border-radius: 20px;
    background-color: #617edd;
    color: rgb(12, 1, 1);
}

div.form-group label:not(.text-danger){
    color: #01050a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}



  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }