
<nav class="navbar navbar-dark bg-dark">
        <a  class="navbar-brand text-white">LabAPI</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminpanel">Admin Panel</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" routerLink="/registration">Aggiungi Utente</a>
        </li></ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" routerLink="/changePwd">Change Password</a>
        </li></ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" routerLink="/strumenti">Strumenti</a>
        </li></ul>
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item">
          <a class="nav-link" routerLink="/strumentoForm">Aggiungi Strumento</a>
        </li></ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" routerLink="/utenti">Utenti</a>
        </li></ul>
        <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
      </nav>
<table class="table" >
    <tr>
        <th>#</th>
        <th>Strumento</th>
        <th>DataInizio</th> 
        <th>DataFine</th>
    </tr>
    <tr *ngFor="let dettaglio of carrello; let i = index">
        <td>{{i + 1}}</td>
        <td>{{dettaglio.idStrumento}}</td>
        <td>{{dettaglio.dataInizio}}</td>
        <td>{{dettaglio.dataFine}}</td>
       <td> <button class="btn" (click)="rimuoviStrumento(dettaglio.idStrumento)">Rimuovi</button></td>
    </tr>


</table>
<form (submit)="onSubmit()">
<button type="submit" class="btn">Conferma Prenotazione</button>
</form>
