
<table class="table table-inverse table-hover">
  <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Strumento</th>
        <th>DataInizio</th> 
        <th>DataFine</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dettaglio of carrello; let i = index">
        <td>{{i + 1}}</td>
        <td>{{dettaglio.idStrumento}}</td>
        <td>{{dettaglio.dataInizio| date:'shortDate'}}</td>
        <td>{{dettaglio.dataFine| date:'shortDate'}}</td>
       <td> <button class="btn" (click)="rimuoviStrumento(dettaglio.idStrumento)">Rimuovi</button></td>
    </tr>
    </tbody>
    


</table>
<form (submit)="onSubmit()">
<button type="submit" class="btn">Conferma Prenotazione</button>
</form>
