
<div>
    <div class="filter-wrap">
      <input [(ngModel)]="searchText" placeholder="Filter Strumenti" class="filter-input">
      <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
    </div>
  </div>
<form (submit)="onSubmit(e)">
<table class="table table-inverse table-hover">
  <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrizione</th> 
        <th>Marca</th>
        <th>Modello</th>
        <th></th>
        <th></th>
        <th></th>
        <th *ngIf="this.isAdmin"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let strumento of strumenti| filter :searchText; let i = index"  (click)="onClickStrumento(strumento.id)">
        <td>{{i + 1}}</td>
        <td>{{strumento.nome}}</td>
        <td>{{strumento.descrizione}}</td>
        <td>{{strumento.marca}}</td>
        <td>{{strumento.modello}}</td>
        <td ><button class="btn" *ngIf="strumento.pdfPath!=null" (click)="pdfOpen(strumento.pdfPath)">PDF</button></td>
        <td ><button class="btn" *ngIf="strumento.imgPath!=null" (click)="pdfOpen(strumento.imgPath)">Immagine</button></td>
        <td> <button type="submit" class="btn" (click)="onSubmit(strumento.id)">Prenota</button></td>
        <td *ngIf="this.isAdmin"> <button class="btn" (click)="rimuovi(strumento.id)">Rimuovi</button></td>
    </tr>
</tbody>
</table>
</form>